* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #E4DFDA;
}

main {
    padding: 50px;
}

nav {
    padding: 15px;
    font-size: 1.5em;
    color: white;
    background-color: #F0CF65;
}

.link {
    display: block;
    color: #BD4F6C;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}

.link:hover {
    color: #803649;
}

.no__files {
    color: rgb(232, 75, 75);
}