body {
  background-color: #ffd000;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: #ffd000;
  font-family: 'Merriweather', serif;
}

.container {
  text-align: center;
  color: white;
}

button {
  outline: none;
  padding: 50px 100px;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  border: none;
  transition: 0.2s;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(204,204,204,1), 17px 17px 0px 0px rgba(231,166,26,1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(204,204,204,1), 17px 17px 0px 0px rgba(231,166,26,1);
  box-shadow: 0px 10px 0px 0px rgba(204,204,204,1), 17px 17px 0px 0px rgba(231,166,26,1);
}

button:active {
  -webkit-box-shadow: 0px 5px 0px 0px rgba(204,204,204,1), 10px 10px 0px 0px rgba(231,166,26,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(204,204,204,1), 10px 10px 0px 0px rgba(231,166,26,1);
  box-shadow: 0px 5px 0px 0px rgba(204,204,204,1), 10px 10px 0px 0px rgba(231,166,26,1);
  color: #404040;
}
