* {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.container {
    margin: 25px;
}

body {
    min-height: 100vh;
    background: rgb(128,59,89);
    background: linear-gradient(149deg, rgba(128,59,89,1) 0%, rgba(27,72,88,1) 100%);
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo > img {
    width: 100px;
}

.logo > h1 {
    display: inline;
    font-size: 4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0%;
    background: url(line.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.line-img img {
    display: inline;
    margin: 0;
    padding: 0;
}

header p {
    color: #edf0f1;
    font-size: 16px;
}

.logo-nav {
    cursor: pointer;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
    transition: 1s;
}

.nav__links li a {
    text-decoration: none;
    position: relative;
    font-size: 1.2em;
    transition: 1s;
}

.nav__links li a::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: -5px;
    border: 2px solid white;
    display: none;
    transition: 1s;
}

.nav__links li a:hover::after {
    display: block;
}