* {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.container {
    margin: 25px;
}

body {
    min-height: 100vh;
    background: rgb(128,59,89);
    background: linear-gradient(149deg, rgba(128,59,89,1) 0%, rgba(27,72,88,1) 100%);
    background-size: cover;
}

.logo > img {
    width: 100px;
}

.logo > h1 {
    display: inline;
    font-size: 4em;
}

nav > h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}